<div class="mobile-form-block" >
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">贷款金额</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{num}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="oj-flex" style="justify-content: center;">
        <oj-button 
            class='oj-button-primary' 
            on-click="[[submit]]"
            style="width: 100%"
            chroming='full'>
             确定
        </oj-button>
    </div>
</div>

