<div class="mobile-form-block" >
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">放款卡号</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.bankname}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">开户行</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.bankid}}" 
            type="text">
        </oj-input-text>
    </div>
</div>

