<div class="mobile-form-block" >
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">电子邮箱</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.lemail}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">联系人关系</label>
        <oj-select-one
            class="mobile-form-input"
            id="basicSelect" 
            aria-label="Single Select" 
            value="{{info.lindustry}}" style="max-width:20em">
            <oj-option value="1">互联网</oj-option>
            <oj-option value="2">房地产</oj-option>
            <oj-option value="3">金融</oj-option>
        </oj-select-one>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">联系人类型</label>
        <oj-select-one
            class="mobile-form-input"
            id="basicSelect" 
            aria-label="Single Select" 
            value="{{info.lstation}}" style="max-width:20em">
            <oj-option value="1">开发</oj-option>
            <oj-option value="2">设计</oj-option>
        </oj-select-one>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">联系人姓名</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.lname}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">联系人电话</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.lphone}}" 
            type="text">
        </oj-input-text>
    </div>
</div>

