<div class="mobile-form-block" >
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">姓名</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.username}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">身份证号</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.idcard}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">性别</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.sex}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">出生日期</label>
        <oj-input-date 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.date}}" 
            type="text">
        </oj-input-date>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">地址</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.address}}" 
            type="text">
        </oj-input-text>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">手机号码</label>
        <oj-input-text 
            class="mobile-form-input" 
            id="inputcontrol2"
            value="{{info.phone}}" 
            type="text">
        </oj-input-text>
    </div>
</div>
<div class="mobile-form-block">
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">教育程度</label>
        <oj-select-one
            class="mobile-form-input"
            id="basicSelect" 
            aria-label="Single Select" 
            value="{{info.study}}" style="max-width:20em">
            <oj-option value="1">本科</oj-option>
            <oj-option value="2">研究生</oj-option>
            <oj-option value="3">博士</oj-option>
        </oj-select-one>
    </div>
    <div class="mobile-form-border">
        <label class="mobile-form-label" for="text-input">婚姻状况</label>
        <oj-select-one
            class="mobile-form-input"
            id="basicSelect" 
            aria-label="Single Select" 
            value="{{info.marry}}" style="max-width:20em">
            <oj-option value="1">已婚</oj-option>
            <oj-option value="2">未婚</oj-option>
        </oj-select-one>
    </div>
</div>

